body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #c1bdba;
	color: #ffffff;
}

h1 {
  font-size: 2.5rem;
	letter-spacing: 2px;
	text-align:center;
	margin:0 auto;
}

h2 {
  font-size: 1.2rem;
	margin: 0 auto;
}

p {
  text-align: right;
  font-size:1.3rem;
}

.field-wrap {
  margin-bottom:40px;
}

.settings {
	text-align: center;
	background-color: rgba(19,35,47,.9);
	padding: 40px;
	max-width:600px;
	margin:40px auto;
	border-radius:4px;
	box-shadow:0 4px 10px 4px rgba(19,35,47,.3);
}

input {
  font-size:22px;
  margin: 0 auto;
  width:278px;
  height:100%;
  padding:10px 10px;
  background:none;
  background-image:none;
  border:1px solid #a0b3b0;
  color:#ffffff;
  border-radius:0;
  transition:border-color .25s ease, box-shadow .25s ease;
}

.button {
	width:300px;
  border:0;
  outline:none;
  border-radius:0;
  padding:10px 0;
  font-size:2rem;
  font-weight:600;
  text-transform:uppercase;
  background:#1ab188;
  color:#ffffff;
  transition:all.5s ease;
}

.button:hover {
  background:#009B70;
}

.createdby {
  font-size: 1.4rem;
}

.credit {
  text-align: center;
  margin: 0 auto;
  direction: ltr;
  /*color: #352214;*/
  color: #7a675b;
}

.credit a, .credit  a:visited{
  color: #594b41;
}